# Python
__pycache__/
*.pyc
*.pyo
*.ipynb_checkpoints/
*.ipynb

# Jupyter Notebooks
notebooks/
notebooks/multifocus_stereo/
notebooks/photometric_stereo/


# Large data files
data/
data/raw/
data/processed/

# Virtualenv
venv/
src/hybrid_stereo_method.egg-info/

